/*BASE*/
html, body {
  background-image: url('../img/textured_paper.png');
  color: #444;
  font-family: 'Gotham Book', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #fff;
  margin:auto;
  min-height: 1000px;
  padding: 0px 20px;
  width: 1000px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(22, 255, 233, .2);
  box-shadow: 2px 2px 2px 1px rgba(22, 255, 233, .2);
}

h1 {
  text-transform: uppercase;
}

h2 {
  color: #455655;
  text-transform: uppercase;
}

a {
  color:#60BDAF;
  text-decoration: none;
}

.bold {
  font-family: 'Gotham Medium', sans-serif;
}

.center {
  text-align: center;
}

.errors {
  color: #F88AAF;
}

.divider {
  border-top: 1px dotted #455655;
}

.highlight {
  color: #60BDAF;
}

/*HEADER*/
.logo {
  color: #455655;
  display: inline;
  font-family: 'Gotham Medium', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.top_nav {
  display: inline;
  float: right;
  margin-top: 15px;
  text-transform: uppercase;
}

.header {
  border-bottom: 1px dotted #455655;
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 0px;
  width: 100%;
}


/*DECK HOME PAGE*/
.all-decks {
  margin: 10px 0px;
}

.deck {
  display: inline;
  margin: 0px 10px;
}

.deck:hover {
  background-color: #60BDAF;
  color: #fff;
}


.deck-button {
  background-color: #fff;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 200px;
  width: 200px;

}

.deck-button:hover {
  background-color: #60BDAF;
  color: #fff;
}


/*CONTENT*/
.content {
  display: inline-block;
  height: 100%;
  margin: 10px 0px;
  padding-bottom: 50px;
  width: 100%;
}

/*FLASHCARD PAGE*/

.flashcard {
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 3px 2px rgba(188, 187, 184, .75);
  box-shadow: 3px 2px 3px 2px rgba(188, 187, 184, .75);
  height: 150px;
  margin: auto;
  padding: 40px 0px;
  width: 600px;
}

.flashcard input {
  margin: 10px 0px;
  width: 450px;
}

.flashcard h2 {
  margin: 0;
}

.flashcard .form-button {
  background-color: #60BDAF;
  border: none;
  color: #fff;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 456px;
}

/*STATS PAGE*/

.round_stats, .overall_stats {
  margin: 60px 0px;
  position: relative;
}

.user_info h1, .user_info p {
  display: inline;
}

.user_info p {
  float: right;
  margin-top: 8px;
}


.round_stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*FOOTER*/
.footer {
  background-color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 50px; /* Define height of the footer */
  margin: auto;
}

/*

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
