<h1>Welome to Flashcards! Thanks For Joining Us!</h1>
<% if @errors %>
  <% @errors.each do |key, value| %>
    <p class="errors"><%= value %></p>
  <% end %>
<% end %>


<form action="/create_user" method='POST'>
  <input type="text" name="person[name]"          placeholder='Your name'>
  <input type="password" name="person[password]"  placeholder='Your password'>
  <input type="text" name="person[email]"         placeholder='Your email'>
  <input type="submit"  value='Create Login' > 
</form>
