<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h1 class="center">Update Your Information</h1>

<form class="center" action="/edit" method='POST'>
  <input type="text" name="person[name]" value='<%= current_user.name %>'>
  <input type="text" name="person[email]" value='<%= current_user.email %>'>
  <input class="form-button" type="submit"  value='Update Your Information' > 
</form>