<div class="all-decks">
  <h2 class="center">Choose A Deck To Get Started</h1>

  <form class="deck" name="input" action="/start" method="POST">
  <input type="hidden" name="deck" value="1">
  <input class="deck-button" type="submit" value="English Vocab">
  </form>

  <form class="deck" name="input" action="/start" method="POST">
  <input type="hidden" name="deck" value="2">
  <input class="deck-button" type="submit" value="Art Vocabulary">
  </form>

  <form class="deck" name="input" action="/start" method="POST">
  <input type="hidden" name="deck" value="2">
  <input class="deck-button" type="submit" value="Art Vocabulary">
  </form>
</div>



